<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
<div class="well">
  <div class="form-inputs">
    
      <%= f.input :statement, required: true, autofocus: true %>
   
   
      <%= f.input :first_option, required: true %>
    
      <%= f.input :second_option, required: true %>
    
      <%= f.input :third_option, required: true %>
   
      <%= f.input :user_id %>
    
    <div class="form-actions">
      <%= f.button :submit %>
    </div>

  </div> 
</div>
<% end %>
