<%= simple_form_for(@post, remote: true) do |f| %>
  <%= f.error_notification %>
<div  id="new-post">
  <div class="form-inputs">
    <hr>

      <%= f.input :statement, required: true, autofocus: true, input_html: { class: 'input-hg'} %>

   
      <%= f.input :first_option, required: true, input_html: { maxlength: 20 } %>
    
      <%= f.input :second_option, required: true, input_html: { maxlength: 20 } %>
    
      <%= f.input :third_option, required: true, input_html: { maxlength: 20 } %>
   
      <%= f.hidden_field :user_id %>
    
    <div class="form-actions">
      <%= f.button :submit, class: "submit-btn"  %>
    </div>

  </div> 
</div>
<% end %>
