<%= simple_form_for(@post, remote: true) do |f| %>
  <%= f.error_notification %>
<div  id="new-post">
  <div class="form-inputs">
    <hr>

      <%= f.input :statement, required: true, autofocus: true, as: :text, label: false, input_html: {  "row" => "4", id: "statement_textarea", maxlength: 160, placeholder: "Statement"} %>

   
      <%= f.input :first_option, required: true, label: false, input_html: { maxlength: 20, class: "option_field", placeholder: "First option" } %>
    
      <%= f.input :second_option, required: true, label: false, input_html: { maxlength: 20, class: "option_field", placeholder: "Second option" } %>
    
      <%= f.input :third_option, required: true, label: false, input_html: { maxlength: 20, class: "option_field", placeholder: "Third option" } %>
   
      <%= f.hidden_field :user_id %>
    
    <div class="form-actions">
      <%= f.button :submit, class: "submit-btn"  %>
    </div>

  </div> 
</div>
<% end %>
