
    <div class='well' id="post-<%= post.id %>" >
     

          <img class='post-img' src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c0.0.50.50/p50x50/2423_130188370022_115_n.jpg' alt='>
          <span class='post-user-name'><strong> <%= post.user.name %></strong></span>
           <span class='time'><%= distance_of_time_in_words_to_now(post.created_at) %> ago </span><br>
          <span class='post-statement'><%= post.statement %></span>

           <div class='post-action pull-right'>

           <%= link_to '', edit_post_path(post)  , class: 'action-btn glyphicon glyphicon-thumbs-up' %>
            <%= link_to '', post  , class: 'action-btn glyphicon glyphicon-eye-open' %>
            <%= link_to '', edit_post_path(post)  , class: 'action-btn glyphicon glyphicon-edit'%>
            <%= link_to '', post, method: :delete,  class: 'action-btn glyphicon glyphicon-trash', remote: true %>
          </div>
          <p>
              
          </p>

          <div class='btn-group btn-group-sm'>
          <% @vote = current_user.vote.find_by_post_id(post.id) %>


          

          <% if @vote  %>
            <%= link_to vote_post_path(post, option: 1), type: 'button', class: "btn vote #{@vote.btn_class(1)}", id: "post#{post.id} op1", remote: true, disabled:'disabled' do %>
              <%= post.first_option %> <span class='<%= @vote.btn_icon(1) %>' > </span> <span class='badge pull-right'> <%= num_votes(post.id, 1) %>% </span>
            <% end %> 

            <%= link_to vote_post_path(post, option: 2), type: 'button', class: "btn vote #{@vote.btn_class(2)}", id: "post#{post.id} op2", remote: true, disabled:'disabled' do %> <%= post.second_option %> <span class='<%= @vote.btn_icon(2) %>' > </span> <span class='badge pull-right'> <%= num_votes(post.id, 2) %>% </span>
            <% end %> 

            <%= link_to vote_post_path(post, option: 3), type: 'button', class: "btn vote #{@vote.btn_class(3)}", id: "post#{post.id} op3", remote: true, disabled:'disabled' do %>
              <%= post.third_option %> <span class='<%= @vote.btn_icon(3) %>' > </span> <span class='badge pull-right'> <%= num_votes(post.id, 3) %>% </span>
            <% end %>  

          <% else %>
            <%= link_to post.first_option, vote_post_path(post, option: 1), type: 'button', class: 'btn vote btn-info', id: "post#{post.id} op1", remote: true %> 
            <%= link_to post.second_option, vote_post_path(post, option: 2), type: 'button', class: 'btn vote btn-info', id: "post#{post.id} op2", remote: true %> 
            <%= link_to post.third_option, vote_post_path(post, option: 3), type: 'button', class: 'btn vote btn-info', id: "post#{post.id} op3", remote: true %> 
          <% end %>

          </div>


         
        </div>