<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>First option</th>
      <th>Second option</th>
      <th>Third option</th>
      <th>User</th>
      <th>Meta data</th>
      <th>Mete data type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.statement %></td>
        <td><%= post.first_option %></td>
        <td><%= post.second_option %></td>
        <td><%= post.third_option %></td>
        <td><%= post.user_id %></td>
        <td><%= post.meta_data %></td>
        <td><%= post.mete_data_type %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
