
<div class="row">
	<div class="col-golden-sm ">
		<div class="well" >





			<div class="btn-toolbar">
				<div class="btn-group test">
					<a class="btn btn-info side btn-embossed" href="#fakelink"><span class="fui-time"></span>
						<span class="badge"><%= @votes.count %></span>
					</a>

					
					<a class="btn btn-info side btn-embossed" href="#fakelink"><span class="fui-eye"></span>
						<span class="badge">8</span>
					</a>
					<%= link_to new_post_path, remote: true, class:"btn btn-info side btn-embossed", id: "new-post-btn" do %>
					<span class="fui-new"></span>
					<% end %>
				</div>
			</div> <!-- /toolbar -->





			

			<%= render 'form' %>


		</div>

		<div class="well">
		<legend>Trends</legend>
			<ul class="list-unstyled">
		      <li><a href="#">#Lorem</a></li>
		      <li><a href="#">#Consectetur</a></li>
		      <li><a href="#">#Integer</a></li>
		      <li><a href="#">#Facilisis</a></li>
		      <li><a href="#">#Nulla</a></li>
	          <li><a href="#">#Purus</a></li>
	          <li><a href="#">#Vestibulum</a></li>
	          <li><a href="#">#Ac tristique</a></li>
		      <li><a href="#">#Faucibus</a></li>
		      <li><a href="#">#Aenean</a></li>
		      <li><a href="#">#Eget</a></li>
		    </ul>
		</div>
		


	</div>
	
		<div class="col-golden-lg ">
			<div class="mywell">
				<%= render @posts %>
			</div>
		</div>
		<div class="col-golden-sm ">
			<div class="tile">
				<img src=<%= asset_path("icons/svg/compas.svg") %> alt="Compas" class="tile-image big-illustration">
				<h3 class="tile-title">Web Oriented</h3>
				<p>100% convertable to HTML/CSS layout.</p>
				<a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
			</div>
		</div>
	
</div>

<br>



