

 
    <% @posts.each do |post| %>
    <div class="row">

      <div class="well">
      <div class="row">
      <div class="col-lg-2">
      <h5><%= current_user.name %></h5>
      <%= image_tag(current_user.normalimage)%> 
         </div>

    <div class="col-lg-10">
        <p><%= post.statement %></p>

        <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary"><%= post.first_option %></button>
        <button type="button" class="btn btn-warning"><%= post.second_option %></button>
        <button type="button" class="btn btn-danger"><%= post.third_option %></button>
      </div>
        
        
        
        <%= post.user_id %>
        <%= post.meta_data %>
        <%= post.mete_data_type %>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      </div>
      </div>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
