<!DOCTYPE html>
<html>
<head>
  <title>Opinio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

  <div class="navbar-header">
    <a class="navbar-brand" href="#"><strong>Opinio</strong></a>

  </div>



    <ul class="nav navbar-nav navbar-right">
        <li><img src=<%="#{current_user.image}?height=20&type=normal&width=20"  if user_signed_in? %> > </li>
        <li><%= link_to("#{current_user.name}", edit_user_registration_path(current_user)) if user_signed_in? %></li>
        <li><%= link_to("",  destroy_user_session_path, :method => 'delete', class: "glyphicon glyphicon-log-in")  if user_signed_in? %></li>
    </ul>

     <form role="search" class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" placeholder="Search" class="form-control">
  </div>

</form>


  </div>
</nav>


<div class="container" id="content">
<!-- 
	<% if notice %>
		<div class="alert alert-info"><%= notice %></div>
	<% end %>
	<% if alert %>
      	<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>  <%= alert %></div>
    <% end %>
 -->

	<div class="row">
		<div class="col-lg-12">
			<%= yield %>
		</div>
	</div>
</div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
